
.Input-search-border-narrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 1000px;
    min-width: 573px;
    height: 54px;

    background: #FFFFFF;
    border-radius: 50px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.14));
}

.Input-search-box-narrow {
    margin-top: 6px;
    padding-left: 32px;
    margin-right: auto;
    height: 54px;
    width: 700px;

    border: none;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.Input-search-box-narrow::placeholder{
    color: #767676;
}

.Input-search-button-narrow {
    position: relative;

    min-width: 119px;
    height: 54px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;

    color: #FFFFFF;
    border: none;

    background: #6833FF;
    border-radius: 50px;

    filter: drop-shadow(-1px 1px 15px rgba(36, 0, 255, 0.25));

    cursor:pointer;
}

.Input-search-icon {
    padding-left: 36px;
}

.SearchResultsPage-FYP-logo {
    margin-left: 78px;
}

.back-to-results-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 153px;
    height: 55px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;

    color: #000000;

    background: #FFFFFF;
    border: 0px solid #1A202C;
    border-radius: 10px;

    cursor:pointer;
}


.sort-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 48px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;

    color: #000000;

    background: #EDF2F7;

    border: 0px solid #A4A4A4;
    border-radius: 10px;

    cursor:pointer;
}

.in-button-image {
    max-height: 100%;
    max-width: 100%;
}

