
.result-item-title {

    max-width: 100%;

    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    background-color: rgba(128, 128, 128, var(--debug-alpha));
}

.result-item-author-name {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;

    color: #4A5568;

    background-color: rgba(128, 128, 128, var(--debug-alpha));

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    cursor: pointer;
}

.result-item-date {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: #4A5568;

    background-color: rgba(128, 128, 128, var(--debug-alpha));
}

.result-item-abstract {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;

    color: #4A5568;

    background-color: rgba(128, 128, 128, var(--debug-alpha));
}


.result-item-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;

    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    white-space: nowrap;


    color: #000000;

    background: #FFFFFF;
    border: transparent;
    border-radius: 50px;

    cursor:pointer;
}


.deactivated-saved-papers-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 40px;

    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;


    color: #000000;

    background: #FFFFFF;
    border: transparent;
    border-radius: 50px;

    cursor:pointer;
}
